[packages]
herokutils = "*"
click = "*"
itsdangerous = "*"
joblib = "*"
nltk = "*"
numpy = "*"
pandas = "*"
plotly = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
retrying = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
threadpoolctl = "*"
tqdm = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
gunicorn = "*"
tabulate = "*"

[dev-packages]
